---
import { getRelativeLocaleUrl } from 'astro:i18n';

let url = getRelativeLocaleUrl(Astro.props.lang);

let data = Astro.props.data

---

<nav class="section side-padding navbar-bgc-color">
    <div class="container navbar-container">
        <div class="logo">
            <a href="/">LOGO</a>
        </div>
        <div class="navbar-list-container">
            <ul class="nav-list">
                <li>
                    <a href={url} class="navbar-links">{data.nav.home}</a>
                </li>
                <li>
                    <a href="#about-section" class="navbar-links">{data.nav.about}</a>
                </li>
                <li>
                    <a href="#services-section" class="navbar-links">{data.nav.services}</a>
                </li>
                <li>
                    <a href="#testimonials-section" class="navbar-links">{data.nav.testimonials}</a>
                </li>
                <li>
                    <a href="#contact-section" class="navbar-links">{data.nav.contact}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>